In [1]:
import pandas as pd

In [2]:
classification_df = pd.read_csv("classification.csv")
localization_df = pd.read_csv("localization.csv")

In [3]:
localization_df

,case_id,patient_id,study_id,image_id,category,xmin,ymin,xmax,ymax
0,1,1,1,1_L_CC,No_Finding,NaN,NaN,NaN,NaN
1,1,1,1,1_L_MLO,No_Finding,NaN,NaN,NaN,NaN
2,1,1,1,1_R_CC,No_Finding,NaN,NaN,NaN,NaN
3,1,1,1,1_R_MLO,No_Finding,NaN,NaN,NaN,NaN
4,3,3,1,3_L_CC,No_Finding,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
16526,13387,13387,1,13387_R_MLO,No_Finding,NaN,NaN,NaN,NaN
16527,13391,13391,1,13391_L_CC,No_Finding,NaN,NaN,NaN,NaN
16528,13391,13391,1,13391_L_MLO,No_Finding,NaN,NaN,NaN,NaN
16529,13391,13391,1,13391_R_CC,No_Finding,NaN,NaN,NaN,NaN
16530,13391,13391,1,13391_R_MLO,No_Finding,NaN,NaN,NaN,NaN

In [5]:
localization_df[(localization_df['category'] == 'No_Finding') & (localization_df[['xmin', 'xmax', 'ymin', 'ymax']].notna().any(axis=1))]

Empty DataFrame
Columns: [case_id, patient_id, study_id, image_id, category, xmin, ymin, xmax, ymax]
Index: []

In [6]:
localization_df[(localization_df['category'] != 'No_Finding') & (localization_df[['xmin', 'xmax', 'ymin', 'ymax']].isna().any(axis=1))]

Empty DataFrame
Columns: [case_id, patient_id, study_id, image_id, category, xmin, ymin, xmax, ymax]
Index: []

In [13]:
localization_df['window_size'] = (localization_df['xmax'] - localization_df['xmin']) * (localization_df['ymax'] - localization_df['ymin'])
temp = localization_df[localization_df['window_size'].notna()]['window_size']
temp = sorted(temp)

In [17]:
len(localization_df)

16531

In [16]:
len(temp)

1946

In [14]:
temp[:10]

[526.3372573236206,
 544.7263387372844,
 847.1185891636717,
 947.5369897467734,
 1077.9286193861255,
 1468.403982687071,
 1522.1599869176157,
 1583.762032583501,
 1755.2262984656247,
 1845.6485638406064]

In [15]:
temp[-10:]

[936476.7044002786,
 956928.2147419114,
 988456.9012954368,
 996239.2189555356,
 999301.3712941086,
 1052294.932328094,
 1126633.3862130048,
 1294034.9895204732,
 1563564.614255902,
 1991524.5106740836]